.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.page__header {
}

.header {
    min-height: 600px;
    max-height: 756px;
    position: relative;
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo {
    border: 5px solid greenyellow;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 228px;
    height: 32px;
}

.logo_place_footer {
}

.title {
    border: 5px solid greenyellow;
    width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index: 3;
    display: flex;
    align-items: center;
    margin-left: 64px;
}

.subtitle {
    border: 5px solid greenyellow;
    position: absolute;
    width: 338px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    bottom: 30px;
    left: 64px;
}

.main-illustration {
    border: 5px solid greenyellow;
    position: absolute;
    width: 765px;
    height: 608px;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.square-pic {
    border: 5px solid greenyellow;
    position: absolute;
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background: #2f80ed;
}

.digits {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.section-title {
    width: 60%;
    font-size: 60px;
    line-height: 1.15;
    text-align: center;
    margin: 0 auto;
}

.section-subtitle {
    width: 60%;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 20px auto 0;
}

.table {
    width: 1100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.table__cell {
    width: 250px;
    margin: 60px 0 0 0;
}

.table__heading {
    font-size: 24px;
    line-height: 1.15;
    margin-bottom: 20px;
}

.table__text {
    font-size: 18px;
    line-height: 1.2;
    margin: 20px 0;
}

.kaufman {
    background-color: #1f1f1f;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.section_title_theme_dark {
    color: #ffffff;
}

.section_subtitle_theme_dark {
    color: #ffffff;
}

.table_theme_dark {
    color: #ffffff;
}

.table__cell_theme_dark {
    color: #ffffff;
    width: 200px;
}

.table__heading_theme_dark {
    color: #ffffff;
}

.table__text_theme_dark {
    color: #ffffff;
}

.kaufman__triangle {
    background-image: url(./images/kaufman-triangle.svg);
    position: absolute;
    width: 877px;
    height: 877px;
    top: 0;
    right: -210px;
    background-size: cover;
    z-index: -1;
}
